
.memories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
  }
  
  .memory {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      /* border: 1px solid black; */
  }

  .memory_index_title {
      text-align: center;
  }