.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  
  .user {
      flex-basis: 28%;
      
      
  }

  .user_detail {
      width: 350px;
      margin-bottom: 2rem;
  }