/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
  
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}


body {
  background-image: url(../images/Memory\ Lane.png);
  background-size: cover;
  background-repeat: no-repeat;
  /* background: cover; */
}

.page_title {
  text-align: center;
  font-size: 55px;
  background-color:#292b2c;
  color: white;
  border-radius: 8px;
  padding: 2rem;
  margin-top: 2rem;
}

.page_subtitle {
  text-align: center;
  font-size: 50px;
  background-color:#292b2c;
  color: white;
  border-radius: 8px;
  padding: 2rem;
}

.search {
  float: right;
  width: 250px;
 margin-top: 3em; 
}

.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  margin-bottom: 5em;
}